.btn {
  background-color: var(--primary-blue) !important;
  color: #fff;
  padding: 5px 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.btn:hover {
  background-color: var(--primary-blue) !important;
}
