.btn {
  background-color: var(--primary-blue) !important;
  color: #fff !important;
  padding: 5px 20px !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
}

.btn:hover {
  background-color: var(--primary-blue) !important;
}
