.footer {
  background-color: var(--primary-blue);
  color: var(--primary-color);
  padding: 10px 80px;
}
.achorStyle {
  text-decoration: none;
  color: var(--primary-color);
}
.footerTop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footerTop > img {
  height: 40px;
  width: auto;
}
.footerTopList {
  display: flex;
  width: 400px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerTopList > li {
  cursor: pointer;
}
.footerTopListSecond {
  width: 200px;
}
.footerBottom {
  margin-top: 20px;
  display: flex;
  width: 55vw;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footerBottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
.footerBottom > img {
  height: 80px;
  width: auto;
  align-self: flex-start;
}
.footerBottomList {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 20px 0px 0 0;
}
.footerBottomList > li > img {
  height: 40px;
  width: auto;
  /* margin-right: 25px; */
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 10px 20px;
  }
  .footerBottom {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .footerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footerTopList {
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    padding: 0;
  }
  .footerTopList > li {
    margin-top: 10px;
  }
  .footerTopListSecond {
  }

  .footerBottom {
    justify-content: center;
  }
}
