.container {
  z-index: 100000000;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 16px 16px;
  font-size: 14px;
}
.header > img {
  height: 14px;
  width: 14px;
  cursor: pointer;
}
.content {
  padding: 5px 10px;
  /* padding: 20px 20px 80px 20px; */
}

.footer {
  bottom: 0;
  position: absolute;
  height: 60px;
  padding: 15px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.box {
  /* padding: 20px 10px; */
}
.header {
}

.list {
  margin: 30px 15px 0 15px;
}
.list > li {
  margin: 10px 0px;
}
.codebox {
  background-color: lightgray;
  padding: 20px 10px;
  font-size: 20px;
}
.greenColor {
  color: var(--secondary-color);
  font-weight: 700;
}
