.container {
  height: 300px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.container > h1 {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  z-index: 1;
  position: relative;
  padding: 50px;
}
.container > div {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.6;
}
.container > img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
