.card {
  /* margin: 20px 0; */
  padding: 0 !important;
  /* border: 2px solid gray; */
  border-radius: 0 !important;
  height: fit-content !important;
}
.cardContainer {
  padding: 20px 15px !important;
  /* background-color: red; */
}
.cardContainerFixed {
  padding: 20px 15px !important;
  position: fixed !important;
  top: 65px !important;
  width: 300px !important;
}
.heading {
  color: var(--secondary-color) !important;
  margin-bottom: 20px !important;
}
.accordion::before {
  opacity: 0 !important;
}
.accordion {
  padding: 0 !important;
  height: fit-content !important;
  min-height: fit-content !important;
  box-shadow: none !important;
  border-bottom: 0 !important;
}
.accordionMain {
  padding: 0 !important;
  height: fit-content !important;
  min-height: fit-content !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  margin: 10px 0 !important;
}
.accordionDetails {
  padding: 0 !important;
  box-shadow: none !important;
}

.accordionDetails > ul {
  list-style: none !important;
}
.accordionDetails > ul > li {
  margin: 15px 5px !important;
}
.bold {
  font-weight: 700 !important;
}
